{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
{% for image in product.images %}
  <a href="{{ image.src | img_url: 'large' }}">
    <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
  </a>
{% endfor %}
<h1>{{ product.title }}</h1>
<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
 
     <!--  selecter comment out -->
  {% comment %}
  <select name="id" id="productSelect">
    {% for variant in product.variants %}
      {% if variant.available %}
        <option value="{{ variant.id }}">
          {{ variant.title }} - {{ variant.price | money_with_currency }}
        </option>
      {% else %}
        <option disabled="disabled">
          {{ variant.title }} - sold out
        </option>
      {% endif %}
    {% endfor %}
  </select>
  {% endcomment %}
    <!--  selecter comment out -->
  
  {{ current_variant.price | money }}
<!--   <label for="Quantity">quantity</label>
  <input type="number" id="Quantity" name="quantity" value="1" min="1"> -->
<!--   <button type="submit" name="add" id="AddToCart">Add to cart</button> -->
  
  
  <!-- for branch a -->
  <button
   type="button"
   class="button button--full-width button--secondary"
   onclick="buttonClick({{ product.selected_or_first_available_variant.id }},{{ cart.item_count}})"
   {% if product.selected_or_first_available_variant.available == false %} disabled {% endif %}
   >
   <span>
   {% if product.selected_or_first_available_variant.available == false %}
   Sold Out
   {% else %}
    Add to Cart
    {% endif %}
   </span>
    </button> 
   <!-- for branch a -->

</form>
 
    <!------------------------ for branch c -------------------------------------------->
   <div class="modal ">
<div class="modal-bg close-btn"></div>
<div class="modal-box">
<div style="text-align: right">
<a class="close-btn" href="">×</a> 
</div>
<video width="100%" id="video" controls poster="image/thumb.png">
  <div width="100%"  controls poster="image/thumb.png">
</div>
</video>
  
  <!-- show product inventory --> 
<!-- ref:  https://speed-ecom.com/how-to-show-inventory-quantity-on-the-product-page-on-shopify/  -->
  <style>
.sd-items-count p { color:#ff2200; font-size:15px; padding:7px 0; margin:0; }
.sd-items-count img { float:left; width:20px !important;height:auto !important;margin:0 7px 0 0; padding:0; }
</style>
{% assign product_qty = 0 %}
{% for variant in product.variants %}
{% if variant.inventory_quantity > 0 %}
{% assign product_qty = product_qty | plus: variant.inventory_quantity %}
{% endif %}
{% endfor %}
{% if product_qty > 0 %}
<div class="sd-items-count">          
<p>
There are <span class="sd-count"><strong>{{ product_qty }}</strong></span> units left in stock.</p>
</div>
{% endif %}
  <!-- show product inventory END-->

   <!--  information about the user cart -->
  	 <thead>
        <th colspan="2">Product</th>
        <th>Price</th>
        <th>Qty</th>
        <th>total</th>
       <br>
      </thead>
        <tbody>
        {% for item in cart.items %}
          <tr>
             <td>
          <!--      for cart_index          -->
             {% for property in item.properties %}
    		{{ property.first }}: {{ property.last }}
  			{% endfor %}
          <!--      for cart_index          -->
             </td>
            <td>
              <a href="{{ item.url }}">{{ item.product.title }}</a>
              {{ item.variant.title }}
            </td>
            <td>{{ item.price | money }}</td>
            <td>
              {{ item.quantity }}
            </td>
            <td>
              {% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
              {{ item.line_price | money }}
              {% for discount in item.discounts %}{{ discount.title }}{% endfor %}
            </td>
            <br>
            
          </tr>
        {% endfor %}
                <p>total : {{ cart.total_price | money }}</p>
      </tbody>
  <!--  information about the user cart END-->

</div>
</div>
  <!------------------------ for branch c END -------------------------------------------->

  
<div>{{ product.description }}</div>

   <!------------------------ for branch a -------------------------------------------->
 {% if product.selected_or_first_available_variant.available == false %}

   <style>
      .button--secondary {
 background: gray;
  color: #fff;
  padding: 10px 30px;
  font-size: 18px;
}
    
  </style>

 {% else %}

   <style>
     .button--secondary {
 background: #8fcb8f;
  color: #fff;
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
}
     
     .button--secondary:hover {
 background: skyblue;
 transition: all 0.3s ease;
}
     
  </style>

 {% endif %}

 <!------------------------ for branch a END-------------------------------------------->





